$okr-tracker-colors: (
  red: #e53935,
  amber: #ffb300,
  green: #43a047,
  background: #f4effc,
  headline: #1f1135,
  subheadline: #1b1325,
  card-bg: #e2daeb,
  card-headline: #1f1135,
  card-paragraph: #1b1325,
  stroke: #1f1235,
  highlight: #ff6e6c,
  secondary: #67568c,
  tertiary: #fbdd74,
  white: #ffffff,
  dark-bg: #301e4e,
  card-dark-bg: #463366,
  card-tag-bg: #4c346b,
  card-tag-text: #ffffff,
  paragraph-light: #c9bae2,
  paragraph-lighter: #cabae2,
  placeholder: #1f1135,
);
