@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

@import './functions';
@import './_colors';

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background: #f8f9fa;
  color: #222;
}

.red {
  color: get-color(red) !important;
}
.amber {
  color: get-color(amber) !important;
}
.green {
  color: get-color(green) !important;
}

.header {
  min-height: 130px;
}

.sub-page-header {
  //
}
