@import '../../styles/functions.scss';

.button--unchecked {
  background: get-color('secondary');
  color: get-color(white);
  border: none;
}
.button--checked {
  background: get-color('highlight');
  color: get-color(white);
  border: none;
}
